### Extraction

In [1]:
import pandas as pd
from sqlalchemy import create_engine
import numpy as np

In [2]:
pd.set_option('display.max_columns', None)

In [3]:
# Data source
# https://www.tceq.texas.gov/agency/data/lookup-data/ihw-datasets.html#summary

In [4]:
# Central Registry page - search using SWR
# https://www15.tceq.texas.gov/crpub/index.cfm?fuseaction=regent.RNSearch

In [5]:
#State FIPS codes
# https://www.tceq.texas.gov/assets/public/permitting/forms/20013.pdf

In [6]:
# County FIPS codes
# https://www.tceq.texas.gov/assets/public/permitting/forms/20012.pdf

In [7]:
# Store csv into df
csv_file1 = "ihw_dump_fac.csv" 
rawfac_df = pd.read_csv(csv_file1, low_memory=False)
rawfac_df.head()

,SWR,NAME,DATE_REG,AMEND_DATE,EPA_ID,TCEQ_PERMIT,LOC,SIC,GEN,REC,TRANS,SITE_CLASS,GEN_STAT,GEN_TYPE,GEN_TYPE1,CNTY_ID,TCEQ_REG,SITE_ADDRESS,CITY_SITE,COUNTY_SITE,COUNTY_SITE.1,STATE_SITE,ZIP_SITE,PARENT,MAILING_ADDRESS,Unnamed: 25,MAIL_CITY,MAI_COUNTRY,MAIL_ZIP,MAIL_ZIPP4,CONTACT,CONTACT_NAME,CONTACT_PHONE,TCEQ_UNIQUE,SITE_OWNER_TAX,LAT,LONG,LAST_UPDATE,IND_PERMIT_NUM,MUNI_PERMIT_NUM,SITE_CLASS_PART,STEERS,AWS,REC.1,UNK,NAICS,MNTH_WASTE_REC,LAND_TYPE,REC_TYPE,HIRE_OWN,HIRE_OWN_HIREOWN,TRANS1,TRANS2,TRANS3,TRANSH,B1,B2,B3,B4,B5,B6,OLD_TCEQ_MERGE,HW_PERMIT_STATUS,Unnamed: 63
0,74,CITY OF CALDWELL,19850515,20010823,NaN,NaN,107 S HILL ST CALDWELL TX,1,0,0,0.0,NaN,INACTIVE,NaN,NON INDUS,51.0,9.0,107 S HILL ST,CALDWELL,BURLESON,UNITED STATES,TX,77836,CITY OF CALDWELL,107 S HILL ST,NaN,CALDWELL,UNITED STATESTX,77836.0,1735,NaN,NaN,979-5673271,6517,0.0,0,0.0,20130516.0,NaN,NaN,0,0,0,0,NaN,NaN,19850515,0.0,NaN,NaN,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,173,LAMB COUNTY,19850515,20010727,NaN,NaN,NaN,1,0,0,0.0,NaN,INACTIVE,NaN,NON INDUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,LAMB COUNTY,100 6TH ST,NaN,LITTLEFIELD,UNITED STATESTX,79339.0,NaN,MANAGER,ENVIRONMENTAL,NaN,6518,0.0,0,0.0,20041117.0,NaN,NaN,0,0,0,0,NaN,NaN,19850515,0.0,NaN,NaN,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,241,EAGLE CONSOLIDATED,19850515,20180212,NaN,NaN,".8 mi N of FM 66, and 2.72 mi NE of, Itasca, TX",1,1,0,0.0,NaN,INACTIVE,NaN,NON INDUS,217.0,9.0,NaN,NaN,NaN,NaN,NaN,NaN,EAGLE CONSOLIDATED INC,PO BOX 565,NaN,ITASCA,UNITED STATESTX,76055.0,565,NaN,NaN,NaN,6519,0.0,0,0.0,20180212.0,NaN,NaN,0,0,0,0,NaN,NaN,19850515,0.0,NaN,NaN,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,280,BRAZOS RIVER AUTHORITY,19850515,20180213,NaN,NaN,"1.65 mi E of Stephens, County Line, Waco, TX",1,0,0,0.0,NaN,INACTIVE,NaN,NON INDUS,309.0,9.0,NaN,NaN,NaN,NaN,NaN,NaN,BRAZOS RIVER AUTHORITY,PO BOX 7555,NaN,WACO,UNITED STATESTX,76714.0,7555,GOEDEKE,NORBERT,817-7761441,6520,746026892.0,0,0.0,20180213.0,NaN,NaN,0,0,0,0,NaN,NaN,19850515,0.0,NaN,NaN,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,295,COLLINGSWORTH COUNTY,19850515,20180213,NaN,NaN,".5 Mi N on gravel top County Road, Wellington, TX",1,1,0,0.0,NaN,INACTIVE,NaN,NON INDUS,87.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,COLLINGSWORTH COUNTY,824 EAST AVE,NaN,WELLINGTON,UNITED STATESTX,79095.0,2712,MANAGER,ENVIRONMENTAL,NaN,6521,756000876.0,0,0.0,20180213.0,NaN,NaN,0,0,0,0,NaN,NaN,19850515,0.0,NaN,NaN,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
rawfaca_df = pd.concat([rawfac_df['SWR'], rawfac_df['NAME'],
                       rawfac_df['EPA_ID'], rawfac_df['TCEQ_PERMIT'],
                       rawfac_df['SITE_CLASS'], rawfac_df['CNTY_ID'],
                       rawfac_df['TCEQ_REG'], rawfac_df['COUNTY_SITE'],
                       rawfac_df['LAT'], rawfac_df['LONG'],
                       rawfac_df['NAICS']], axis = 1)
rawfaca_df

,SWR,NAME,EPA_ID,TCEQ_PERMIT,SITE_CLASS,CNTY_ID,TCEQ_REG,COUNTY_SITE,LAT,LONG,NAICS
0,74,CITY OF CALDWELL,NaN,NaN,NaN,51.0,9.0,BURLESON,0,0.000,NaN
1,173,LAMB COUNTY,NaN,NaN,NaN,NaN,NaN,NaN,0,0.000,NaN
2,241,EAGLE CONSOLIDATED,NaN,NaN,NaN,217.0,9.0,NaN,0,0.000,NaN
3,280,BRAZOS RIVER AUTHORITY,NaN,NaN,NaN,309.0,9.0,NaN,0,0.000,NaN
4,295,COLLINGSWORTH COUNTY,NaN,NaN,NaN,87.0,1.0,NaN,0,0.000,NaN
...,...,...,...,...,...,...,...,...,...,...,...
40616,H2158,CHARTER WASTE MANAGEMENT,TXR000084626,NaN,NaN,135.0,7.0,ECTOR,0,0.000,24110.0
40617,H2183,SOJO TREATMENT LC,NaN,NaN,NaN,441.0,3.0,TAYLOR,-32.448,-99.701,NaN
40618,H2234,LIQUID ENVIRONMENTAL SOLUTIONS GELLHORN,TXR000057000,NaN,NaN,201.0,12.0,HARRIS,0,0.000,62219.0
40619,H2242,WESTERN WASTE OF TEXAS NEWTON COMPLEX,TXR000084627,NaN,NaN,351.0,10.0,NEWTON,-30.33,-93.848,62212.0
40620,WDW70,CHEMICAL WASTE MANAGEMENT INC.,NaN,NaN,NaN,NaN,NaN,NaN,0,0.000,NaN

In [9]:
rawfaca_df.isnull().sum()

SWR                0
NAME              25
EPA_ID         10401
TCEQ_PERMIT    40402
SITE_CLASS     40490
CNTY_ID         3854
TCEQ_REG        3854
COUNTY_SITE     6567
LAT                0
LONG               0
NAICS          16281
dtype: int64

In [10]:
# Store csv into df
csv_file = "Texas_Counties_Centroid_Map.csv" 
cnty_coordraw_df = pd.read_csv(csv_file, low_memory=False)
cnty_coordraw_df

,X (Lat),Y (Long),CNTY_NM,CNTY_NBR,FIPS,Shape_Leng,Shape_Area,County Centroid Location
0,33.974085,-99.778711,Foard,79,48155,2.302711,0.177999,POINT (-99.77871109 33.97408519)
1,30.266361,-98.399741,Blanco,16,48031,1.683597,0.173306,POINT (-98.39974086 30.26636128)
2,33.607504,-102.343092,Hockley,111,48219,1.922124,0.228718,POINT (-102.3430919 33.60750375)
3,30.705666,-98.683874,Llano,150,48299,2.323276,0.235689,POINT (-98.68387398 30.70566579)
4,34.530650,-101.734951,Swisher,219,48437,1.924577,0.229376,POINT (-101.734951 34.53064989)
...,...,...,...,...,...,...,...,...
249,32.301382,-99.890039,Taylor,221,48441,1.920012,0.227959,POINT (-99.89003941 32.30138229)
250,27.000891,-99.168601,Zapata,253,48505,2.246982,0.249215,POINT (-99.16860134 27.00089072)
251,28.009222,-97.518599,San Patricio,205,48409,3.462106,0.167654,POINT (-97.51859857 28.00922186)
252,30.543607,-95.985573,Grimes,94,48185,2.427391,0.195299,POINT (-95.98557334 30.54360689)
253,34.068612,-102.351709,Lamb,140,48279,2.031175,0.257465,POINT (-102.3517095 34.06861242)

In [11]:
cnty_coordraw_df.dtypes

X (Lat)                     float64
Y (Long)                    float64
CNTY_NM                      object
CNTY_NBR                      int64
FIPS                          int64
Shape_Leng                  float64
Shape_Area                  float64
County Centroid Location     object
dtype: object

In [12]:
cnty_coord_df = cnty_coordraw_df.rename(columns = {'X (Lat)': 'COUNTY_LAT', 'Y (Long)': 'COUNTY_LONG', 'CNTY_NM' : 'COUNTY_SITE'}, inplace = False)
cnty_coord_df.head()

,COUNTY_LAT,COUNTY_LONG,COUNTY_SITE,CNTY_NBR,FIPS,Shape_Leng,Shape_Area,County Centroid Location
0,33.974085,-99.778711,Foard,79,48155,2.302711,0.177999,POINT (-99.77871109 33.97408519)
1,30.266361,-98.399741,Blanco,16,48031,1.683597,0.173306,POINT (-98.39974086 30.26636128)
2,33.607504,-102.343092,Hockley,111,48219,1.922124,0.228718,POINT (-102.3430919 33.60750375)
3,30.705666,-98.683874,Llano,150,48299,2.323276,0.235689,POINT (-98.68387398 30.70566579)
4,34.530650,-101.734951,Swisher,219,48437,1.924577,0.229376,POINT (-101.734951 34.53064989)

In [13]:
cnty_coord_df.to_csv ('county_coord.csv', index = False, header=True)

In [14]:
# Store csv into df
csv_file = "ihw_dump_annual2020.csv" 
raw_2020_df = pd.read_csv(csv_file, low_memory=False)
raw_2020_df

,AWS,SWR,YEAR,NOR,FORM,CLASS,BLANK,GEN,UNIT,HANDLED,UNIT.1,MGMT_CODE,FAC_NUM,EPA_ID,COMMENTS,FE,FED,RR,SUBMITED,ER,ERS,REC_ID,HW_1,HW_2,HW_3,HW_4,COMPANY,SUBMITTER,TITLE,SUBMITTER_NUM,LQG,ACUTE
0,G1,20017,2020,2,319.0,H,NaN,31213,P,28913,P,40.0,50089,TXD055141378,NaN,NaN,NaN,0,20210329.0,0,S1,381967.0,D001,D002,NaN,NaN,MONUMENT CHEMICAL BAYPORT,Philip W Sprague,STEERS Reporter,ER000286,1.0,1.0
1,G1,20017,2020,2,319.0,H,NaN,31213,P,300,P,61.0,D0047,TND000772186,NaN,NaN,NaN,0,20210329.0,0,S1,381968.0,D001,D002,NaN,NaN,MONUMENT CHEMICAL BAYPORT,Philip W Sprague,STEERS Reporter,ER000286,1.0,1.0
2,G1,20017,2020,2,319.0,H,NaN,31213,P,2000,P,141.0,D0047,TND000772186,NaN,NaN,NaN,0,20210329.0,0,S1,381969.0,D001,D002,NaN,NaN,MONUMENT CHEMICAL BAYPORT,Philip W Sprague,STEERS Reporter,ER000286,1.0,1.0
3,G1,20017,2020,3,301.0,H,NaN,400,P,400,P,39.0,50052,TXD069452340,NaN,NaN,NaN,0,20210329.0,0,S1,381987.0,D001,NaN,NaN,NaN,MONUMENT CHEMICAL BAYPORT,Philip W Sprague,STEERS Reporter,ER000286,1.0,1.0
4,G1,20017,2020,9,101.0,1,NaN,77738169,P,77722294,P,135.0,37822,TXD980626170,LBS TO GCWA,4.0,A,0,20210329.0,0,S1,381947.0,NaN,NaN,NaN,NaN,MONUMENT CHEMICAL BAYPORT,Philip W Sprague,STEERS Reporter,ER000286,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27162,G1,97889,2020,4070,407.0,H,NaN,11,P,11,P,141.0,50225,TXD982290140,NaN,NaN,NaN,0,20210329.0,0,S1,381706.0,D001,NaN,NaN,NaN,AMAZONCOM SERVICES UTX3,Kevin Winston,STEERS Reporter,ER052083,0.0,0.0
27163,G1,H0203,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27164,G1,H0288,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0
27165,G1,H2234,2020,1,409.0,1,NaN,9662.56,T,4002.56,T,132.0,H1539,TXR000084621,NaN,NaN,NaN,0,20210413.0,0,S1,385374.0,NaN,NaN,NaN,NaN,LIQUID ENVIRONMENTAL SOLUTIONS GELLHORN,Sunil Singh,STEERS Reporter,ER042827,0.0,0.0
27166,G1,H2234,2020,1,409.0,1,NaN,9662.56,T,5660,T,132.0,H1721,TXR000084637,NaN,NaN,NaN,0,20210413.0,0,S1,385373.0,NaN,NaN,NaN,NaN,LIQUID ENVIRONMENTAL SOLUTIONS GELLHORN,Sunil Singh,STEERS Reporter,ER042827,0.0,0.0

In [15]:
# Store csv into df
csv_file = "ihw_dump_annual2019.csv" 
raw_2019_df = pd.read_csv(csv_file, low_memory=False)
raw_2019_df

,AWS,SWR,YEAR,NOR,FORM,CLASS,BLANK,GEN,UNIT,HANDLED,UNIT.1,MGMT_CODE,FAC_NUM,EPA_ID,COMMENTS,FE,FED,RR,SUBMITED,ER,ERS,REC_ID,HW_1,HW_2,HW_3,HW_4,COMPANY,SUBMITTER,TITLE,SUBMITTER_NUM,LQG,ACUTE
0,G1,20017,2019,2,319.0,H,NaN,40922,P,40922,P,40.0,50089,TXD055141378,NaN,NaN,NaN,0,20200221.0,0,S1,342659.0,D001,D002,NaN,NaN,MONUMENT CHEMICAL BAYPORT,Donna K Jones,STEERS Reporter,ER069586,1.0,1.0
1,G1,20017,2019,3,301.0,H,NaN,120000,P,120000,P,134.0,32299,TXD000719518,NaN,NaN,NaN,0,20200221.0,0,S1,342655.0,D002,D007,D018,NaN,MONUMENT CHEMICAL BAYPORT,Donna K Jones,STEERS Reporter,ER069586,1.0,1.0
2,G1,20017,2019,3,301.0,H,NaN,120000,P,3330,P,40.0,50089,TXD055141378,NaN,NaN,NaN,0,20200221.0,0,S1,342654.0,D002,D007,D018,NaN,MONUMENT CHEMICAL BAYPORT,Donna K Jones,STEERS Reporter,ER069586,1.0,1.0
3,G1,20017,2019,4,308.0,1,NaN,111460,P,1600,P,132.0,39039,TXD980864078,NaN,NaN,NaN,0,20200221.0,0,S1,342600.0,NaN,NaN,NaN,NaN,MONUMENT CHEMICAL BAYPORT,Donna K Jones,STEERS Reporter,ER069586,1.0,1.0
4,G1,20017,2019,4,308.0,1,NaN,111460,P,4590,P,132.0,96322,TXR000084600,NaN,NaN,NaN,0,20200221.0,0,S1,342601.0,NaN,NaN,NaN,NaN,MONUMENT CHEMICAL BAYPORT,Donna K Jones,STEERS Reporter,ER069586,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29739,G1,97780,2019,4,310.0,1,NaN,50,P,50,P,141.0,1,NaN,NaN,NaN,NaN,0,20201009.0,0,S1,360220.0,NaN,NaN,NaN,NaN,MAN ENERGY SOLUTIONS USA,Dan Stehling,STEERS Reporter,ER073498,0.0,0.0
29740,G1,H0203,2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29741,G1,H2234,2019,1,409.0,1,NaN,9354,T,9354,T,132.0,H1539,TXR000084621,NaN,NaN,NaN,0,20200225.0,0,S1,344483.0,NaN,NaN,NaN,NaN,LIQUID ENVIRONMENTAL SOLUTIONS GELLHORN,Sunil Singh,STEERS Reporter,ER042827,0.0,0.0
29742,G1,H2234,2019,4,4.0,H,NaN,603,P,603,P,132.0,D0018,IND058484114,NaN,NaN,NaN,0,20200303.0,0,S1,358254.0,D002,D007,D009,D011,LIQUID ENVIRONMENTAL SOLUTIONS GELLHORN,Sunil Singh,STEERS Reporter,ER042827,0.0,0.0
29743,G1,H2234,2019,100,609.0,1,NaN,20952,T,20952,T,132.0,H1539,TXR000084621,NaN,NaN,NaN,0,20200225.0,0,S1,344482.0,NaN,NaN,NaN,NaN,LIQUID ENVIRONMENTAL SOLUTIONS GELLHORN,Sunil Singh,STEERS Reporter,ER042827,0.0,0.0

In [16]:
# Store csv into df
csv_file = "ihw_dump_annual2018.csv" 
raw_2018_df = pd.read_csv(csv_file, low_memory=False)
raw_2018_df

,AWS,SWR,YEAR,NOR,FORM,CLASS,BLANK,GEN,UNIT,HANDLED,UNIT.1,MGMT_CODE,FAC_NUM,EPA_ID,COMMENTS,FE,FED,RR,SUBMITED,ER,ERS,REC_ID,HW_1,HW_2,HW_3,HW_4,COMPANY,SUBMITTER,TITLE,SUBMITTER_NUM,LQG,ACUTE
0,G1,20017,2018,2.0,319.0,H,NaN,7650,P,300,P,132.0,50052,TXD069452340,NaN,NaN,NaN,0,20190301.0,0,S1,329422.0,D001,D002,NaN,NaN,MONUMENT CHEMICAL BAYPORT,Robert Harbour,STEERS Reporter,ER060218,1.0,1.0
1,G1,20017,2018,2.0,319.0,H,NaN,7650,P,7350,P,40.0,50089,TXD055141378,NaN,NaN,NaN,0,20190301.0,0,S1,329421.0,D001,D002,NaN,NaN,MONUMENT CHEMICAL BAYPORT,Robert Harbour,STEERS Reporter,ER060218,1.0,1.0
2,G1,20017,2018,5.0,301.0,1,NaN,16840,P,16840,P,132.0,96322,TXR000084600,NaN,NaN,NaN,0,20190301.0,0,S1,329415.0,NaN,NaN,NaN,NaN,MONUMENT CHEMICAL BAYPORT,Robert Harbour,STEERS Reporter,ER060218,1.0,1.0
3,G1,20017,2018,7.0,207.0,H,NaN,218860,P,218860,P,141.0,30271,TXD074196338,NaN,NaN,NaN,0,20190301.0,0,S1,329435.0,D001,NaN,NaN,NaN,MONUMENT CHEMICAL BAYPORT,Robert Harbour,STEERS Reporter,ER060218,1.0,1.0
4,G1,20017,2018,9.0,101.0,1,NaN,101116001,P,100842881,P,135.0,37822,TXD980626170,NaN,4.0,A,0,20190301.0,0,S1,329419.0,NaN,NaN,NaN,NaN,MONUMENT CHEMICAL BAYPORT,Robert Harbour,STEERS Reporter,ER060218,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30397,G1,97671,2018,1.0,101.0,H,NaN,2500,P,1100,P,141.0,D0047,TND000772186,TRADEBE,NaN,NaN,0,20200529.0,0,S1,359967.0,D002,NaN,NaN,NaN,JACAM THE WOODLANDS,Steven K Mounce,STEERS Reporter,ER002774,0.0,0.0
30398,G1,97671,2018,2.0,205.0,H,NaN,458.7,P,458.7,P,141.0,50052,TXD069452340,US ECOLOGY,NaN,NaN,0,20200529.0,0,S1,359969.0,D001,NaN,NaN,NaN,JACAM THE WOODLANDS,Steven K Mounce,STEERS Reporter,ER002774,0.0,0.0
30399,G1,H0203,2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30400,G1,H2234,2018,1.0,409.0,1,NaN,9389,T,9389,T,132.0,H1539,NaN,NaN,NaN,NaN,0,20191029.0,0,P1,332605.0,NaN,NaN,NaN,NaN,LIQUID ENVIRONMENTAL SOLUTIONS,FRANCISCO CARDENAS JR,FACILITIES COMPL,IANCE MANAGER,0.0,0.0
30401,G1,H2234,2018,100.0,609.0,1,NaN,23733,T,23733,T,132.0,H1539,NaN,NaN,NaN,NaN,0,20191029.0,0,P1,332603.0,NaN,NaN,NaN,NaN,LIQUID ENVIRONMENTAL SOLUTIONS,FRANCISCO CARDENAS JR,FACILITIES COMPL,IANCE MANAGER,0.0,0.0

In [17]:
# Store csv into df
csv_file = "ihw_dump_annual2017.csv" 
raw_2017_df = pd.read_csv(csv_file, low_memory=False)
raw_2017_df

,AWS,SWR,YEAR,NOR,FORM,CLASS,BLANK,GEN,UNIT,HANDLED,UNIT.1,MGMT_CODE,FAC_NUM,EPA_ID,COMMENTS,FE,FED,RR,SUBMITED,ER,ERS,REC_ID,HW_1,HW_2,HW_3,HW_4,COMPANY,SUBMITTER,TITLE,SUBMITTER_NUM,LQG,ACUTE
0,G1,20017,2017,2,319.0,H,NaN,6200,P,6200,P,141.0,50089,TXD055141378,MISCELLANEOUS PLANT REFUSE INC,NaN,NaN,0,20180301.0,0,S1,298362.0,D001,D002,NaN,NaN,NOVA MOLECULAR TECHNOLOGIES,Kris K Sturgul,STEERS Reporter,ER002870,1.0,0.0
1,G1,20017,2017,7,207.0,H,NaN,200700,P,200700,P,141.0,30271,TXD074196338,NaN,NaN,NaN,0,20180301.0,0,S1,298361.0,D001,NaN,NaN,NaN,NOVA MOLECULAR TECHNOLOGIES,Kris K Sturgul,STEERS Reporter,ER002870,1.0,0.0
2,G1,20017,2017,11,9.0,1,NaN,3600,P,650,P,40.0,50089,TXD055141378,NaN,NaN,NaN,0,20180301.0,0,S1,298375.0,NaN,NaN,NaN,NaN,NOVA MOLECULAR TECHNOLOGIES,Kris K Sturgul,STEERS Reporter,ER002870,1.0,0.0
3,G1,20017,2017,11,9.0,1,NaN,3600,P,2950,P,141.0,50225,TXD982290140,NaN,NaN,NaN,0,20180301.0,0,S1,298376.0,NaN,NaN,NaN,NaN,NOVA MOLECULAR TECHNOLOGIES,Kris K Sturgul,STEERS Reporter,ER002870,1.0,0.0
4,G1,20017,2017,8208,219.0,H,NaN,18550,P,18550,P,40.0,50089,TXD055141378,NaN,NaN,NaN,0,20180301.0,0,S1,298369.0,D001,D002,D018,F003,NOVA MOLECULAR TECHNOLOGIES,Kris K Sturgul,STEERS Reporter,ER002870,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31804,G1,97305,2017,1,205.0,1,NaN,199034,P,199034,P,131.0,H2158,TXR000084626,NaN,NaN,NaN,0,20181204.0,0,P1,303121.0,NaN,NaN,NaN,NaN,ACE GEL PLANT,LORI GLASGOW,SENIOR CONSULTAN,T,0.0,0.0
31805,G1,97305,2017,2,489.0,1,NaN,1240460,P,1240460,P,131.0,H2158,TXR000084626,NaN,NaN,NaN,0,20181204.0,0,P1,303122.0,NaN,NaN,NaN,NaN,ACE GEL PLANT,LORI GLASGOW,SENIOR CONSULTAN,T,0.0,0.0
31806,G1,H0203,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31807,G1,H2234,2017,1,409.0,1,NaN,8471,T,8471,T,132.0,H1539,NaN,NaN,NaN,NaN,0,20191029.0,0,P1,332607.0,NaN,NaN,NaN,NaN,LIQUID ENVIRONMENTAL SOLUTIONS,FRANCISCO CARDENAS JR,FACILITIES COMPL,IANCE MANAGER,0.0,0.0
31808,G1,H2234,2017,100,609.0,1,NaN,16741,T,21593,T,132.0,H1539,NaN,NaN,NaN,NaN,0,20191029.0,0,P1,332606.0,NaN,NaN,NaN,NaN,LIQUID ENVIRONMENTAL SOLUTIONS,FRANCISCO CARDENAS JR,FACILITIES COMPL,IANCE MANAGER,0.0,0.0

In [18]:
# Store csv into df
csv_file = "ihw_dump_annual2016.csv" 
raw_2016_df = pd.read_csv(csv_file, low_memory=False)
raw_2016_df

,AWS,SWR,YEAR,NOR,FORM,CLASS,BLANK,GEN,UNIT,HANDLED,UNIT.1,MGMT_CODE,FAC_NUM,EPA_ID,COMMENTS,FE,FED,RR,SUBMITED,ER,ERS,REC_ID,HW_1,HW_2,HW_3,HW_4,COMPANY,SUBMITTER,TITLE,SUBMITTER_NUM,LQG,ACUTE
0,G1,20017,2016,2,319.0,H,NaN,3420,P,3420,P,40.0,50089,TXD055141378,NaN,NaN,NaN,0,20170227.0,0,S1,261665.0,D001,D002,NaN,NaN,NOVA MOLECULAR TECHNOLOGIES,Robert Wolff JR,STEERS Reporter,ER023010,1.0,0.0
1,G1,20017,2016,7,207.0,H,NaN,396012,P,396012,P,61.0,30271,TXD074196338,NaN,NaN,NaN,0,20170227.0,0,S1,261676.0,D001,NaN,NaN,NaN,NOVA MOLECULAR TECHNOLOGIES,Robert Wolff JR,STEERS Reporter,ER023010,1.0,0.0
2,G1,20017,2016,11,9.0,1,NaN,2700,P,2700,P,40.0,50089,TXD055141378,NaN,NaN,NaN,0,20170227.0,0,S1,261669.0,NaN,NaN,NaN,NaN,NOVA MOLECULAR TECHNOLOGIES,Robert Wolff JR,STEERS Reporter,ER023010,1.0,0.0
3,G1,20017,2016,8208,219.0,H,NaN,12960,P,12960,P,40.0,50089,TXD055141378,NaN,NaN,NaN,0,20170227.0,0,S1,261670.0,D001,D018,F003,NaN,NOVA MOLECULAR TECHNOLOGIES,Robert Wolff JR,STEERS Reporter,ER023010,1.0,0.0
4,G1,20017,2016,8218,403.0,1,NaN,21699,P,21699,P,61.0,30271,TXD074196338,NaN,NaN,NaN,0,20170227.0,0,S1,261682.0,NaN,NaN,NaN,NaN,NOVA MOLECULAR TECHNOLOGIES,Robert Wolff JR,STEERS Reporter,ER023010,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32772,G1,97110,2016,6,119.0,1,NaN,480,P,480,P,40.0,50089,TXD055141378,NaN,NaN,NaN,0,20180316.0,0,S1,301171.0,NaN,NaN,NaN,NaN,ASHLAND AT CANAL CARTAGE,Nicole M Voss,STEERS Reporter,ER056509,0.0,0.0
32773,G1,97110,2016,7,319.0,1,NaN,200,P,200,P,40.0,50089,TXD055141378,NaN,NaN,NaN,0,20180316.0,0,S1,301172.0,NaN,NaN,NaN,NaN,ASHLAND AT CANAL CARTAGE,Nicole M Voss,STEERS Reporter,ER056509,0.0,0.0
32774,G1,H0203,2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32775,G1,H2234,2016,1,409.0,1,NaN,6121,T,6121,T,132.0,H1539,NaN,NaN,NaN,NaN,0,20191029.0,0,P1,332609.0,NaN,NaN,NaN,NaN,LIQUID ENVIRONMENTAL SOLUTIONS,FRANCISCO CARDENAS JR,FACILITIES COMPL,IANCE MANAGER,0.0,0.0
32776,G1,H2234,2016,100,609.0,1,NaN,21593,T,21593,T,132.0,H1539,NaN,NaN,NaN,NaN,0,20191029.0,0,P1,332608.0,NaN,NaN,NaN,NaN,LIQUID ENVIRONMENTAL SOLUTIONS,FRANCISCO CARDENAS JR,FACILITIES COMPL,IANCE MANAGER,0.0,0.0

In [19]:
# Store csv into df
csv_file = "ihw_dump_annual2015.csv" 
raw_2015_df = pd.read_csv(csv_file, low_memory=False)
raw_2015_df

,AWS,SWR,YEAR,NOR,FORM,CLASS,BLANK,GEN,UNIT,HANDLED,UNIT.1,MGMT_CODE,FAC_NUM,EPA_ID,COMMENTS,FE,FED,RR,SUBMITED,ER,ERS,REC_ID,HW_1,HW_2,HW_3,HW_4,COMPANY,SUBMITTER,TITLE,SUBMITTER_NUM,LQG,ACUTE
0,G1,20017,2015,2,319.0,H,NaN,4600,P,4600,P,40.0,50089,TXD055141378,NaN,NaN,NaN,0,201602250,S1,228132.0,D001,D002,NaN,NaN,NOVA MOLECULAR TECHNOLOGIES,Robert Wolff JR,STEERS Reporter,ER023010,1.0,0.0,NaN
1,G1,20017,2015,5,301.0,1,NaN,59960,P,59960,P,132.0,H1539,NaN,NaN,NaN,NaN,0,201602250,S1,228127.0,NaN,NaN,NaN,NaN,NOVA MOLECULAR TECHNOLOGIES,BLAINE MOSS,CORPORATE EHS MA,NAGER,1.0,0.0,NaN
2,G1,20017,2015,7,207.0,H,NaN,182190,P,182190,P,61.0,30271,TXD074196338,NaN,NaN,NaN,0,201602250,S1,228116.0,D001,NaN,NaN,NaN,NOVA MOLECULAR TECHNOLOGIES,Robert Wolff JR,STEERS Reporter,ER023010,1.0,0.0,NaN
3,G1,20017,2015,11,9.0,1,NaN,2550,P,1500,P,40.0,50089,TXD055141378,NaN,NaN,NaN,0,201602250,S1,228133.0,NaN,NaN,NaN,NaN,NOVA MOLECULAR TECHNOLOGIES,Robert Wolff JR,STEERS Reporter,ER023010,1.0,0.0,NaN
4,G1,20017,2015,11,9.0,1,NaN,2550,P,1050,P,40.0,50225,TXD982290140,NaN,NaN,NaN,0,201602250,S1,228134.0,NaN,NaN,NaN,NaN,NOVA MOLECULAR TECHNOLOGIES,Robert Wolff JR,STEERS Reporter,ER023010,1.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32938,G1,96888,2015,7,204.0,H,NaN,140,P,140,P,61.0,D0008,COD980591184,NaN,NaN,NaN,0,201801190,P1,274847.0,NaN,NaN,NaN,NaN,MONTANA POWER STATION,AIDA G MAURICIO,ENVIRONMENTAL EN,GINEER,0.0,0.0,NaN
32939,G1,96888,2015,23,489.0,1,NaN,7159,P,3659,P,132.0,D0008,COD980591184,NaN,NaN,NaN,0,201801190,P1,274849.0,NaN,NaN,NaN,NaN,MONTANA POWER STATION,AIDA G MAURICIO,ENVIRONMENTAL EN,GINEER,0.0,0.0,NaN
32940,G1,96888,2015,23,489.0,1,NaN,7159,P,3500,P,132.0,D0035,NaN,VALENCIA LOS LUNAS NM,NaN,NaN,0,201801190,P1,274848.0,NaN,NaN,NaN,NaN,MONTANA POWER STATION,AIDA G MAURICIO,ENVIRONMENTAL EN,GINEER,0.0,0.0,NaN
32941,G1,96888,2015,139,219.0,1,NaN,28536,P,28536,P,131.0,D0035,NaN,RHINO OTERO COUNTY NM,NaN,NaN,0,201801190,P1,274850.0,NaN,NaN,NaN,NaN,MONTANA POWER STATION,AIDA G MAURICIO,ENVIRONMENTAL EN,GINEER,0.0,0.0,NaN
32942,G1,H0203,2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
# Store csv into df
csv_file = "ihw_dump_annual2014.csv" 
raw_2014_df = pd.read_csv(csv_file, low_memory=False)
raw_2014_df

,AWS,SWR,YEAR,NOR,FORM,CLASS,BLANK,GEN,UNIT,HANDLED,UNIT.1,MGMT_CODE,FAC_NUM,EPA_ID,COMMENTS,FE,FED,RR,SUBMITED,ER,ERS,REC_ID,HW_1,HW_2,HW_3,HW_4,COMPANY,SUBMITTER,TITLE,SUBMITTER_NUM,LQG,ACUTE
0,G1,20017,2014,2,319.0,H,NaN,700,P,700,P,40.0,50089,TXD055141378,NaN,NaN,NaN,0,20150223.0,0,S1,190488.0,D001,D002,NaN,NaN,NOVA MOLECULAR TECHNOLOGIES,Robert Wolff JR,STEERS Reporter,ER023010,1.0,0.0
1,G1,20017,2014,11,9.0,1,NaN,3850,P,2000,P,40.0,50089,TXD055141378,NaN,NaN,NaN,0,20150223.0,0,S1,190492.0,NaN,NaN,NaN,NaN,NOVA MOLECULAR TECHNOLOGIES,Robert Wolff JR,STEERS Reporter,ER023010,1.0,0.0
2,G1,20017,2014,11,9.0,1,NaN,3850,P,1850,P,61.0,65124,TXD077603371,NaN,NaN,NaN,0,20150223.0,0,S1,190493.0,NaN,NaN,NaN,NaN,NOVA MOLECULAR TECHNOLOGIES,Robert Wolff JR,STEERS Reporter,ER023010,1.0,0.0
3,G1,20017,2014,8208,219.0,H,NaN,12035,P,12035,P,40.0,50089,TXD055141378,NaN,NaN,NaN,0,20150223.0,0,S1,190478.0,D001,D018,F003,NaN,NOVA MOLECULAR TECHNOLOGIES,Robert Wolff JR,STEERS Reporter,ER023010,1.0,0.0
4,G1,20017,2014,8218,403.0,1,NaN,5486,P,5486,P,61.0,30271,TXD074196338,NaN,NaN,NaN,0,20150223.0,0,S1,190487.0,NaN,NaN,NaN,NaN,NOVA MOLECULAR TECHNOLOGIES,Robert Wolff JR,STEERS Reporter,ER023010,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33320,G1,96747,2014,1,203.0,H,NaN,9867,P,4739,P,61.0,50084,TXD046844700,NaN,NaN,NaN,0,20171109.0,0,S1,273680.0,D001,F003,NaN,NaN,SAN ANTONIO GASTROENTEROLOGY,Hector Hernandez JR,STEERS Reporter,ER054219,0.0,0.0
33321,G1,96747,2014,1,203.0,H,NaN,9867,P,5128,P,61.0,50267,TXD055135388,NaN,NaN,NaN,0,20171109.0,0,S1,273681.0,D001,F003,NaN,NaN,SAN ANTONIO GASTROENTEROLOGY,Hector Hernandez JR,STEERS Reporter,ER054219,0.0,0.0
33322,G1,96766,2014,1,203.0,H,NaN,19058,P,19058,P,61.0,50084,TXD046844700,NaN,NaN,NaN,0,20171109.0,0,S1,273679.0,D001,F003,NaN,NaN,PATHOLOGY REFERENCE LABORATORY,Hector Hernandez JR,STEERS Reporter,ER054219,0.0,0.0
33323,G1,97136,2014,1,695.0,1,NaN,410000,P,410000,P,132.0,89429,NaN,NaN,NaN,NaN,0,20180424.0,0,P1,301707.0,NaN,NaN,NaN,NaN,ECONOMY MUD PRODUCTS COMPANY,MIKE TOMERLIN,DIRECTOR EHS,NaN,NaN,NaN
33324,G1,H0203,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
frames = [raw_2014_df, raw_2015_df, raw_2016_df, raw_2017_df, raw_2018_df, raw_2019_df, raw_2020_df]

AWS_raw_14_20_df = pd.concat(frames)
AWS_raw_14_20_df

,AWS,SWR,YEAR,NOR,FORM,CLASS,BLANK,GEN,UNIT,HANDLED,UNIT.1,MGMT_CODE,FAC_NUM,EPA_ID,COMMENTS,FE,FED,RR,SUBMITED,ER,ERS,REC_ID,HW_1,HW_2,HW_3,HW_4,COMPANY,SUBMITTER,TITLE,SUBMITTER_NUM,LQG,ACUTE
0,G1,20017,2014,2,319.0,H,NaN,700,P,700,P,40.0,50089,TXD055141378,NaN,NaN,NaN,0,20150223.0,0,S1,190488,D001,D002,NaN,NaN,NOVA MOLECULAR TECHNOLOGIES,Robert Wolff JR,STEERS Reporter,ER023010,1.0,0.0
1,G1,20017,2014,11,9.0,1,NaN,3850,P,2000,P,40.0,50089,TXD055141378,NaN,NaN,NaN,0,20150223.0,0,S1,190492,NaN,NaN,NaN,NaN,NOVA MOLECULAR TECHNOLOGIES,Robert Wolff JR,STEERS Reporter,ER023010,1.0,0.0
2,G1,20017,2014,11,9.0,1,NaN,3850,P,1850,P,61.0,65124,TXD077603371,NaN,NaN,NaN,0,20150223.0,0,S1,190493,NaN,NaN,NaN,NaN,NOVA MOLECULAR TECHNOLOGIES,Robert Wolff JR,STEERS Reporter,ER023010,1.0,0.0
3,G1,20017,2014,8208,219.0,H,NaN,12035,P,12035,P,40.0,50089,TXD055141378,NaN,NaN,NaN,0,20150223.0,0,S1,190478,D001,D018,F003,NaN,NOVA MOLECULAR TECHNOLOGIES,Robert Wolff JR,STEERS Reporter,ER023010,1.0,0.0
4,G1,20017,2014,8218,403.0,1,NaN,5486,P,5486,P,61.0,30271,TXD074196338,NaN,NaN,NaN,0,20150223.0,0,S1,190487,NaN,NaN,NaN,NaN,NOVA MOLECULAR TECHNOLOGIES,Robert Wolff JR,STEERS Reporter,ER023010,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27162,G1,97889,2020,4070,407.0,H,NaN,11,P,11,P,141.0,50225,TXD982290140,NaN,NaN,NaN,0,20210329.0,0,S1,381706,D001,NaN,NaN,NaN,AMAZONCOM SERVICES UTX3,Kevin Winston,STEERS Reporter,ER052083,0.0,0.0
27163,G1,H0203,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27164,G1,H0288,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0
27165,G1,H2234,2020,1,409.0,1,NaN,9662.56,T,4002.56,T,132.0,H1539,TXR000084621,NaN,NaN,NaN,0,20210413.0,0,S1,385374,NaN,NaN,NaN,NaN,LIQUID ENVIRONMENTAL SOLUTIONS GELLHORN,Sunil Singh,STEERS Reporter,ER042827,0.0,0.0
27166,G1,H2234,2020,1,409.0,1,NaN,9662.56,T,5660,T,132.0,H1721,TXR000084637,NaN,NaN,NaN,0,20210413.0,0,S1,385373,NaN,NaN,NaN,NaN,LIQUID ENVIRONMENTAL SOLUTIONS GELLHORN,Sunil Singh,STEERS Reporter,ER042827,0.0,0.0

In [22]:
AWS_14_20_df = pd.concat([AWS_raw_14_20_df['SWR'], AWS_raw_14_20_df['YEAR'],
                       AWS_raw_14_20_df['NOR'], AWS_raw_14_20_df['FORM'],
                       AWS_raw_14_20_df['CLASS'], AWS_raw_14_20_df['UNIT'],
                       AWS_raw_14_20_df['HANDLED'], AWS_raw_14_20_df['MGMT_CODE'],
                       AWS_raw_14_20_df['FAC_NUM'], AWS_raw_14_20_df['EPA_ID'],
                       AWS_raw_14_20_df['HW_1'], AWS_raw_14_20_df['HW_2'],   
                       AWS_raw_14_20_df['HW_3'], AWS_raw_14_20_df['HW_4'],
                       AWS_raw_14_20_df['COMPANY'], AWS_raw_14_20_df['LQG'],   
                       AWS_raw_14_20_df['ACUTE'], AWS_raw_14_20_df['SUBMITED']], axis = 1)
AWS_14_20_df

,SWR,YEAR,NOR,FORM,CLASS,UNIT,HANDLED,MGMT_CODE,FAC_NUM,EPA_ID,HW_1,HW_2,HW_3,HW_4,COMPANY,LQG,ACUTE,SUBMITED
0,20017,2014,2,319.0,H,P,700,40.0,50089,TXD055141378,D001,D002,NaN,NaN,NOVA MOLECULAR TECHNOLOGIES,1.0,0.0,20150223.0
1,20017,2014,11,9.0,1,P,2000,40.0,50089,TXD055141378,NaN,NaN,NaN,NaN,NOVA MOLECULAR TECHNOLOGIES,1.0,0.0,20150223.0
2,20017,2014,11,9.0,1,P,1850,61.0,65124,TXD077603371,NaN,NaN,NaN,NaN,NOVA MOLECULAR TECHNOLOGIES,1.0,0.0,20150223.0
3,20017,2014,8208,219.0,H,P,12035,40.0,50089,TXD055141378,D001,D018,F003,NaN,NOVA MOLECULAR TECHNOLOGIES,1.0,0.0,20150223.0
4,20017,2014,8218,403.0,1,P,5486,61.0,30271,TXD074196338,NaN,NaN,NaN,NaN,NOVA MOLECULAR TECHNOLOGIES,1.0,0.0,20150223.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27162,97889,2020,4070,407.0,H,P,11,141.0,50225,TXD982290140,D001,NaN,NaN,NaN,AMAZONCOM SERVICES UTX3,0.0,0.0,20210329.0
27163,H0203,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27164,H0288,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN
27165,H2234,2020,1,409.0,1,T,4002.56,132.0,H1539,TXR000084621,NaN,NaN,NaN,NaN,LIQUID ENVIRONMENTAL SOLUTIONS GELLHORN,0.0,0.0,20210413.0
27166,H2234,2020,1,409.0,1,T,5660,132.0,H1721,TXR000084637,NaN,NaN,NaN,NaN,LIQUID ENVIRONMENTAL SOLUTIONS GELLHORN,0.0,0.0,20210413.0

In [23]:
AWS_14_20_df.dtypes

SWR           object
YEAR           int64
NOR           object
FORM         float64
CLASS         object
UNIT          object
HANDLED       object
MGMT_CODE    float64
FAC_NUM       object
EPA_ID        object
HW_1          object
HW_2          object
HW_3          object
HW_4          object
COMPANY       object
LQG          float64
ACUTE        float64
SUBMITED     float64
dtype: object

In [24]:
AWS_14_20_df.isnull().sum()

SWR               0
YEAR              0
NOR           14171
FORM          14171
CLASS         14171
UNIT          14171
HANDLED       14173
MGMT_CODE     14173
FAC_NUM       14173
EPA_ID        42609
HW_1         109950
HW_2         156311
HW_3         181739
HW_4         163726
COMPANY       14662
LQG            1970
ACUTE         34619
SUBMITED      12410
dtype: int64

In [25]:
# creating df with AWS valid submitted (not NaN) column - removing columns with NaN under submitted

AWSsub_14_20_df = AWS_14_20_df[AWS_14_20_df['SUBMITED'].notna()]
AWSsub_14_20_df

,SWR,YEAR,NOR,FORM,CLASS,UNIT,HANDLED,MGMT_CODE,FAC_NUM,EPA_ID,HW_1,HW_2,HW_3,HW_4,COMPANY,LQG,ACUTE,SUBMITED
0,20017,2014,2,319.0,H,P,700,40.0,50089,TXD055141378,D001,D002,NaN,NaN,NOVA MOLECULAR TECHNOLOGIES,1.0,0.0,20150223.0
1,20017,2014,11,9.0,1,P,2000,40.0,50089,TXD055141378,NaN,NaN,NaN,NaN,NOVA MOLECULAR TECHNOLOGIES,1.0,0.0,20150223.0
2,20017,2014,11,9.0,1,P,1850,61.0,65124,TXD077603371,NaN,NaN,NaN,NaN,NOVA MOLECULAR TECHNOLOGIES,1.0,0.0,20150223.0
3,20017,2014,8208,219.0,H,P,12035,40.0,50089,TXD055141378,D001,D018,F003,NaN,NOVA MOLECULAR TECHNOLOGIES,1.0,0.0,20150223.0
4,20017,2014,8218,403.0,1,P,5486,61.0,30271,TXD074196338,NaN,NaN,NaN,NaN,NOVA MOLECULAR TECHNOLOGIES,1.0,0.0,20150223.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27160,97889,2020,2120,212.0,H,P,36,141.0,50225,TXD982290140,D001,NaN,NaN,NaN,AMAZONCOM SERVICES UTX3,0.0,0.0,20210329.0
27161,97889,2020,2190,219.0,H,P,121,141.0,50225,TXD982290140,D001,D006,D018,D027,AMAZONCOM SERVICES UTX3,0.0,0.0,20210329.0
27162,97889,2020,4070,407.0,H,P,11,141.0,50225,TXD982290140,D001,NaN,NaN,NaN,AMAZONCOM SERVICES UTX3,0.0,0.0,20210329.0
27165,H2234,2020,1,409.0,1,T,4002.56,132.0,H1539,TXR000084621,NaN,NaN,NaN,NaN,LIQUID ENVIRONMENTAL SOLUTIONS GELLHORN,0.0,0.0,20210413.0
27166,H2234,2020,1,409.0,1,T,5660,132.0,H1721,TXR000084637,NaN,NaN,NaN,NaN,LIQUID ENVIRONMENTAL SOLUTIONS GELLHORN,0.0,0.0,20210413.0

In [26]:
# creating df with AWS with values in quantity handled (non NaN) - removing rows with NaN under handled

AWSa_14_20_df = AWSsub_14_20_df[AWSsub_14_20_df['HANDLED'].notna()]
AWSa_14_20_df

,SWR,YEAR,NOR,FORM,CLASS,UNIT,HANDLED,MGMT_CODE,FAC_NUM,EPA_ID,HW_1,HW_2,HW_3,HW_4,COMPANY,LQG,ACUTE,SUBMITED
0,20017,2014,2,319.0,H,P,700,40.0,50089,TXD055141378,D001,D002,NaN,NaN,NOVA MOLECULAR TECHNOLOGIES,1.0,0.0,20150223.0
1,20017,2014,11,9.0,1,P,2000,40.0,50089,TXD055141378,NaN,NaN,NaN,NaN,NOVA MOLECULAR TECHNOLOGIES,1.0,0.0,20150223.0
2,20017,2014,11,9.0,1,P,1850,61.0,65124,TXD077603371,NaN,NaN,NaN,NaN,NOVA MOLECULAR TECHNOLOGIES,1.0,0.0,20150223.0
3,20017,2014,8208,219.0,H,P,12035,40.0,50089,TXD055141378,D001,D018,F003,NaN,NOVA MOLECULAR TECHNOLOGIES,1.0,0.0,20150223.0
4,20017,2014,8218,403.0,1,P,5486,61.0,30271,TXD074196338,NaN,NaN,NaN,NaN,NOVA MOLECULAR TECHNOLOGIES,1.0,0.0,20150223.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27160,97889,2020,2120,212.0,H,P,36,141.0,50225,TXD982290140,D001,NaN,NaN,NaN,AMAZONCOM SERVICES UTX3,0.0,0.0,20210329.0
27161,97889,2020,2190,219.0,H,P,121,141.0,50225,TXD982290140,D001,D006,D018,D027,AMAZONCOM SERVICES UTX3,0.0,0.0,20210329.0
27162,97889,2020,4070,407.0,H,P,11,141.0,50225,TXD982290140,D001,NaN,NaN,NaN,AMAZONCOM SERVICES UTX3,0.0,0.0,20210329.0
27165,H2234,2020,1,409.0,1,T,4002.56,132.0,H1539,TXR000084621,NaN,NaN,NaN,NaN,LIQUID ENVIRONMENTAL SOLUTIONS GELLHORN,0.0,0.0,20210413.0
27166,H2234,2020,1,409.0,1,T,5660,132.0,H1721,TXR000084637,NaN,NaN,NaN,NaN,LIQUID ENVIRONMENTAL SOLUTIONS GELLHORN,0.0,0.0,20210413.0

In [27]:
#verifying Handled and Submitted do not have NaN

AWSa_14_20_df.isnull().sum()

SWR               0
YEAR              0
NOR               0
FORM              0
CLASS             0
UNIT              0
HANDLED           0
MGMT_CODE         0
FAC_NUM           0
EPA_ID        28436
HW_1          95777
HW_2         142138
HW_3         167566
HW_4         149553
COMPANY         489
LQG             488
ACUTE         31626
SUBMITED          0
dtype: int64

In [28]:
AWSa_14_20_df['MGMT_CODE'] = AWSa_14_20_df['MGMT_CODE'].astype(pd.Int64Dtype())
AWSa_14_20_df['FORM'] = AWSa_14_20_df['FORM'].astype(pd.Int64Dtype())
AWSa_14_20_df['LQG'] = AWSa_14_20_df['LQG'].astype(pd.Int64Dtype())
AWSa_14_20_df['ACUTE'] = AWSa_14_20_df['ACUTE'].astype(pd.Int64Dtype())
AWSa_14_20_df

<ipython-input-28-47c2fc7af60d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  AWSa_14_20_df['MGMT_CODE'] = AWSa_14_20_df['MGMT_CODE'].astype(pd.Int64Dtype())
<ipython-input-28-47c2fc7af60d>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  AWSa_14_20_df['FORM'] = AWSa_14_20_df['FORM'].astype(pd.Int64Dtype())
<ipython-input-28-47c2fc7af60d>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  AWSa_14_20_df['LQG'] = AWSa_14_20_df['LQG'].astype(pd.Int64Dtype())
<ipython-input-28-47c2fc7af60d>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  AWSa_14_20_df['ACUTE'] = AWSa_14_20_df['ACUTE'].astype(pd.Int64Dtype())

,SWR,YEAR,NOR,FORM,CLASS,UNIT,HANDLED,MGMT_CODE,FAC_NUM,EPA_ID,HW_1,HW_2,HW_3,HW_4,COMPANY,LQG,ACUTE,SUBMITED
0,20017,2014,2,319,H,P,700,40,50089,TXD055141378,D001,D002,NaN,NaN,NOVA MOLECULAR TECHNOLOGIES,1,0,20150223.0
1,20017,2014,11,9,1,P,2000,40,50089,TXD055141378,NaN,NaN,NaN,NaN,NOVA MOLECULAR TECHNOLOGIES,1,0,20150223.0
2,20017,2014,11,9,1,P,1850,61,65124,TXD077603371,NaN,NaN,NaN,NaN,NOVA MOLECULAR TECHNOLOGIES,1,0,20150223.0
3,20017,2014,8208,219,H,P,12035,40,50089,TXD055141378,D001,D018,F003,NaN,NOVA MOLECULAR TECHNOLOGIES,1,0,20150223.0
4,20017,2014,8218,403,1,P,5486,61,30271,TXD074196338,NaN,NaN,NaN,NaN,NOVA MOLECULAR TECHNOLOGIES,1,0,20150223.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27160,97889,2020,2120,212,H,P,36,141,50225,TXD982290140,D001,NaN,NaN,NaN,AMAZONCOM SERVICES UTX3,0,0,20210329.0
27161,97889,2020,2190,219,H,P,121,141,50225,TXD982290140,D001,D006,D018,D027,AMAZONCOM SERVICES UTX3,0,0,20210329.0
27162,97889,2020,4070,407,H,P,11,141,50225,TXD982290140,D001,NaN,NaN,NaN,AMAZONCOM SERVICES UTX3,0,0,20210329.0
27165,H2234,2020,1,409,1,T,4002.56,132,H1539,TXR000084621,NaN,NaN,NaN,NaN,LIQUID ENVIRONMENTAL SOLUTIONS GELLHORN,0,0,20210413.0
27166,H2234,2020,1,409,1,T,5660,132,H1721,TXR000084637,NaN,NaN,NaN,NaN,LIQUID ENVIRONMENTAL SOLUTIONS GELLHORN,0,0,20210413.0

In [29]:
AWS_fac_raw_df = pd.merge(AWSa_14_20_df, rawfaca_df, on=["SWR"])
AWS_fac_raw_df.head()

,SWR,YEAR,NOR,FORM,CLASS,UNIT,HANDLED,MGMT_CODE,FAC_NUM,EPA_ID_x,HW_1,HW_2,HW_3,HW_4,COMPANY,LQG,ACUTE,SUBMITED,NAME,EPA_ID_y,TCEQ_PERMIT,SITE_CLASS,CNTY_ID,TCEQ_REG,COUNTY_SITE,LAT,LONG,NAICS
0,20017,2014,2,319,H,P,700,40,50089,TXD055141378,D001,D002,NaN,NaN,NOVA MOLECULAR TECHNOLOGIES,1,0,20150223.0,MONUMENT CHEMICAL BAYPORT,TXD988021259,NaN,NaN,201.0,12.0,HARRIS,0,0.0,25199.0
1,20017,2014,11,9,1,P,2000,40,50089,TXD055141378,NaN,NaN,NaN,NaN,NOVA MOLECULAR TECHNOLOGIES,1,0,20150223.0,MONUMENT CHEMICAL BAYPORT,TXD988021259,NaN,NaN,201.0,12.0,HARRIS,0,0.0,25199.0
2,20017,2014,11,9,1,P,1850,61,65124,TXD077603371,NaN,NaN,NaN,NaN,NOVA MOLECULAR TECHNOLOGIES,1,0,20150223.0,MONUMENT CHEMICAL BAYPORT,TXD988021259,NaN,NaN,201.0,12.0,HARRIS,0,0.0,25199.0
3,20017,2014,8208,219,H,P,12035,40,50089,TXD055141378,D001,D018,F003,NaN,NOVA MOLECULAR TECHNOLOGIES,1,0,20150223.0,MONUMENT CHEMICAL BAYPORT,TXD988021259,NaN,NaN,201.0,12.0,HARRIS,0,0.0,25199.0
4,20017,2014,8218,403,1,P,5486,61,30271,TXD074196338,NaN,NaN,NaN,NaN,NOVA MOLECULAR TECHNOLOGIES,1,0,20150223.0,MONUMENT CHEMICAL BAYPORT,TXD988021259,NaN,NaN,201.0,12.0,HARRIS,0,0.0,25199.0

In [30]:
AWS_fac_raw_df.isnull().sum()

SWR                 0
YEAR                0
NOR                 0
FORM                0
CLASS               0
UNIT                0
HANDLED             0
MGMT_CODE           0
FAC_NUM             0
EPA_ID_x        28436
HW_1            95777
HW_2           142138
HW_3           167566
HW_4           149553
COMPANY           489
LQG               488
ACUTE           31626
SUBMITED            0
NAME                0
EPA_ID_y         2072
TCEQ_PERMIT    167215
SITE_CLASS     203504
CNTY_ID             5
TCEQ_REG            5
COUNTY_SITE      3731
LAT                 0
LONG                0
NAICS             126
dtype: int64

In [31]:
AWS_fac_raw1_df = AWS_fac_raw_df.rename(columns = {'EPA_ID_x': 'EPA_ID_DISP', 'EPA_ID_y': 'EPA_ID_SITE'}, inplace = False)
AWS_fac_raw1_df.head()

,SWR,YEAR,NOR,FORM,CLASS,UNIT,HANDLED,MGMT_CODE,FAC_NUM,EPA_ID_DISP,HW_1,HW_2,HW_3,HW_4,COMPANY,LQG,ACUTE,SUBMITED,NAME,EPA_ID_SITE,TCEQ_PERMIT,SITE_CLASS,CNTY_ID,TCEQ_REG,COUNTY_SITE,LAT,LONG,NAICS
0,20017,2014,2,319,H,P,700,40,50089,TXD055141378,D001,D002,NaN,NaN,NOVA MOLECULAR TECHNOLOGIES,1,0,20150223.0,MONUMENT CHEMICAL BAYPORT,TXD988021259,NaN,NaN,201.0,12.0,HARRIS,0,0.0,25199.0
1,20017,2014,11,9,1,P,2000,40,50089,TXD055141378,NaN,NaN,NaN,NaN,NOVA MOLECULAR TECHNOLOGIES,1,0,20150223.0,MONUMENT CHEMICAL BAYPORT,TXD988021259,NaN,NaN,201.0,12.0,HARRIS,0,0.0,25199.0
2,20017,2014,11,9,1,P,1850,61,65124,TXD077603371,NaN,NaN,NaN,NaN,NOVA MOLECULAR TECHNOLOGIES,1,0,20150223.0,MONUMENT CHEMICAL BAYPORT,TXD988021259,NaN,NaN,201.0,12.0,HARRIS,0,0.0,25199.0
3,20017,2014,8208,219,H,P,12035,40,50089,TXD055141378,D001,D018,F003,NaN,NOVA MOLECULAR TECHNOLOGIES,1,0,20150223.0,MONUMENT CHEMICAL BAYPORT,TXD988021259,NaN,NaN,201.0,12.0,HARRIS,0,0.0,25199.0
4,20017,2014,8218,403,1,P,5486,61,30271,TXD074196338,NaN,NaN,NaN,NaN,NOVA MOLECULAR TECHNOLOGIES,1,0,20150223.0,MONUMENT CHEMICAL BAYPORT,TXD988021259,NaN,NaN,201.0,12.0,HARRIS,0,0.0,25199.0

In [32]:
# main to be amended using working steps identified below

AWS_fac_main_df = AWS_fac_raw1_df

## start of cleanup steps identification

In [33]:
# raw2 is only a temp file used to identify NA county info

AWS_fac_raw2_df = AWS_fac_raw1_df[AWS_fac_raw1_df['COUNTY_SITE'].isna()]
AWS_fac_raw2_df

,SWR,YEAR,NOR,FORM,CLASS,UNIT,HANDLED,MGMT_CODE,FAC_NUM,EPA_ID_DISP,HW_1,HW_2,HW_3,HW_4,COMPANY,LQG,ACUTE,SUBMITED,NAME,EPA_ID_SITE,TCEQ_PERMIT,SITE_CLASS,CNTY_ID,TCEQ_REG,COUNTY_SITE,LAT,LONG,NAICS
11094,30042,2014,6,489,1,P,16800,141,21,NaN,NaN,NaN,NaN,NaN,INEOS USA CHOCOLATE BAYOU FACILITY,1,0,20150129.0,INEOS USA CHOCOLATE BAYOU FACILITY,TXD050309012,50121.0,NaN,39.0,12.0,NaN,0,0.000,25199.0
11095,30042,2014,6,489,1,P,3120,141,45,NaN,NaN,NaN,NaN,NaN,INEOS USA CHOCOLATE BAYOU FACILITY,1,0,20150129.0,INEOS USA CHOCOLATE BAYOU FACILITY,TXD050309012,50121.0,NaN,39.0,12.0,NaN,0,0.000,25199.0
11096,30042,2014,6,489,1,P,211200,132,H1721,NaN,NaN,NaN,NaN,NaN,INEOS USA CHOCOLATE BAYOU FACILITY,1,0,20150129.0,INEOS USA CHOCOLATE BAYOU FACILITY,TXD050309012,50121.0,NaN,39.0,12.0,NaN,0,0.000,25199.0
11097,30042,2014,13,489,H,P,400,141,21,NaN,D001,D018,NaN,NaN,INEOS USA CHOCOLATE BAYOU FACILITY,1,0,20150129.0,INEOS USA CHOCOLATE BAYOU FACILITY,TXD050309012,50121.0,NaN,39.0,12.0,NaN,0,0.000,25199.0
11098,30042,2014,13,489,H,P,26160,39,34814,TXD981053770,D001,D018,NaN,NaN,INEOS USA CHOCOLATE BAYOU FACILITY,1,0,20150129.0,INEOS USA CHOCOLATE BAYOU FACILITY,TXD050309012,50121.0,NaN,39.0,12.0,NaN,0,0.000,25199.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
203365,96985,2020,7,110,H,P,3,132,50052,TXD069452340,NaN,NaN,NaN,NaN,LOWES OF WHITE SETTLEMENT 1619,1,0,20210222.0,LOWES OF WHITE SETTLEMENT 1619,TXR000084424,NaN,NaN,439.0,4.0,NaN,0,0.000,44110.0
203366,96985,2020,8,319,H,P,35,132,50052,TXD069452340,NaN,NaN,NaN,NaN,LOWES OF WHITE SETTLEMENT 1619,1,0,20210222.0,LOWES OF WHITE SETTLEMENT 1619,TXR000084424,NaN,NaN,439.0,4.0,NaN,0,0.000,44110.0
203367,96985,2020,13,119,H,P,15,141,50052,TXD069452340,NaN,NaN,NaN,NaN,LOWES OF WHITE SETTLEMENT 1619,1,0,20210222.0,LOWES OF WHITE SETTLEMENT 1619,TXR000084424,NaN,NaN,439.0,4.0,NaN,0,0.000,44110.0
203564,97606,2020,1,404,H,P,182140,39,50052,TXD069452340,NaN,NaN,NaN,NaN,FORT BEND POWER PRODUCERS,1,0,20210322.0,FORT BEND POWER PRODUCERS,TXR000085205,NaN,NaN,157.0,12.0,NaN,0,0.000,86210.0
203931,97844,2020,1,205,H,P,24000,141,1,NaN,D018,NaN,NaN,NaN,STRATTON RIDGE UNDERGROUND NATURAL GAS STORAGE...,1,0,20210331.0,STRATTON RIDGE UNDERGROUND NATURAL GAS STORAGE...,TXR000085469,NaN,NaN,39.0,12.0,NaN,-29.035,-95.334,86210.0

In [34]:
AWS_fac_raw2_df['CNTY_ID'].unique()

array([ 39., 179., 161., 449., 403., 233., 201., 321.,  37., 375.,  57.,
       185., 481., 213., 289.,  73., 315., 203., 335., 401., 225., 245.,
       341.,  63.,  21.,  67., 223.,  53., 183., 121., 457., 189., 395.,
        nan, 353.,  29., 167., 357., 219., 391., 229., 227., 343.,  13.,
       439., 157.])

In [35]:
temp = AWS_fac_raw2_df[AWS_fac_raw2_df['CNTY_ID'] == 133.0] 
temp

Empty DataFrame
Columns: [SWR, YEAR, NOR, FORM, CLASS, UNIT, HANDLED, MGMT_CODE, FAC_NUM, EPA_ID_DISP, HW_1, HW_2, HW_3, HW_4, COMPANY, LQG, ACUTE, SUBMITED, NAME, EPA_ID_SITE, TCEQ_PERMIT, SITE_CLASS, CNTY_ID, TCEQ_REG, COUNTY_SITE, LAT, LONG, NAICS]
Index: []

In [36]:
# converting NaN county_site to value using FIPS code - sites used wrong number when completing AWS

AWS_fac_raw2_df.loc[AWS_fac_raw2_df['CNTY_ID'] == 39.0, 'COUNTY_SITE'] = 'BRAZORIA'
AWS_fac_raw2_df.loc[AWS_fac_raw2_df['CNTY_ID'] == 179.0, 'COUNTY_SITE'] = 'GRAY'
AWS_fac_raw2_df.loc[AWS_fac_raw2_df['CNTY_ID'] == 403.0, 'COUNTY_SITE'] = 'SABINE'
AWS_fac_raw2_df.loc[AWS_fac_raw2_df['CNTY_ID'] == 233.0, 'COUNTY_SITE'] = 'HUTCHINSON'
AWS_fac_raw2_df.loc[AWS_fac_raw2_df['CNTY_ID'] == 201.0, 'COUNTY_SITE'] = 'HARRIS'
AWS_fac_raw2_df.loc[AWS_fac_raw2_df['CNTY_ID'] == 321.0, 'COUNTY_SITE'] = 'MATAGORDA'
AWS_fac_raw2_df.loc[AWS_fac_raw2_df['CNTY_ID'] == 37.0, 'COUNTY_SITE'] = 'BOWIE'
AWS_fac_raw2_df.loc[AWS_fac_raw2_df['CNTY_ID'] == 375.0, 'COUNTY_SITE'] = 'POTTER'
AWS_fac_raw2_df.loc[AWS_fac_raw2_df['CNTY_ID'] == 341.0, 'COUNTY_SITE'] = 'MOORE'
AWS_fac_raw2_df.loc[AWS_fac_raw2_df['CNTY_ID'] == 481.0, 'COUNTY_SITE'] = 'WHARTON'
AWS_fac_raw2_df.loc[AWS_fac_raw2_df['CNTY_ID'] == 213.0, 'COUNTY_SITE'] = 'HENDERSON'
AWS_fac_raw2_df.loc[AWS_fac_raw2_df['CNTY_ID'] == 289.0, 'COUNTY_SITE'] = 'LEON'
AWS_fac_raw2_df.loc[AWS_fac_raw2_df['CNTY_ID'] == 73.0, 'COUNTY_SITE'] = 'CHEROKEE'
AWS_fac_raw2_df.loc[AWS_fac_raw2_df['CNTY_ID'] == 315.0, 'COUNTY_SITE'] = 'MARION'
AWS_fac_raw2_df.loc[AWS_fac_raw2_df['CNTY_ID'] == 203.0, 'COUNTY_SITE'] = 'HARRISON'
AWS_fac_raw2_df.loc[AWS_fac_raw2_df['CNTY_ID'] == 401.0, 'COUNTY_SITE'] = 'RUSK'
AWS_fac_raw2_df.loc[AWS_fac_raw2_df['CNTY_ID'] == 449.0, 'COUNTY_SITE'] = 'TITUS'
AWS_fac_raw2_df.loc[AWS_fac_raw2_df['CNTY_ID'] == 225.0, 'COUNTY_SITE'] = 'HOUSTON'
AWS_fac_raw2_df.loc[AWS_fac_raw2_df['CNTY_ID'] == 245.0, 'COUNTY_SITE'] = 'JEFFERSON'
AWS_fac_raw2_df.loc[AWS_fac_raw2_df['CNTY_ID'] == 21.0, 'COUNTY_SITE'] = 'BASTROP'
AWS_fac_raw2_df.loc[AWS_fac_raw2_df['CNTY_ID'] == 29.0, 'COUNTY_SITE'] = 'BEXAR'
AWS_fac_raw2_df.loc[AWS_fac_raw2_df['CNTY_ID'] == 67.0, 'COUNTY_SITE'] = 'CASS'
AWS_fac_raw2_df.loc[AWS_fac_raw2_df['CNTY_ID'] == 57.0, 'COUNTY_SITE'] = 'CALHOUN'
AWS_fac_raw2_df.loc[AWS_fac_raw2_df['CNTY_ID'] == 53.0, 'COUNTY_SITE'] = 'BURNET'
AWS_fac_raw2_df.loc[AWS_fac_raw2_df['CNTY_ID'] == 183.0, 'COUNTY_SITE'] = 'GREGG'
AWS_fac_raw2_df.loc[AWS_fac_raw2_df['CNTY_ID'] == 439.0, 'COUNTY_SITE'] = 'TARRANT'
AWS_fac_raw2_df.loc[AWS_fac_raw2_df['CNTY_ID'] == 227.0, 'COUNTY_SITE'] = 'HOWARD'
AWS_fac_raw2_df.loc[AWS_fac_raw2_df['CNTY_ID'] == 157.0, 'COUNTY_SITE'] = 'FORT BEND'

AWS_fac_raw2_df.loc[AWS_fac_raw2_df['CNTY_ID'] == 161.0, 'COUNTY_SITE'] = 'FREESTONE'
AWS_fac_raw2_df.loc[AWS_fac_raw2_df['CNTY_ID'] == 185.0, 'COUNTY_SITE'] = 'GRIMES'
AWS_fac_raw2_df.loc[AWS_fac_raw2_df['CNTY_ID'] == 335.0, 'COUNTY_SITE'] = 'MITCHELL'
AWS_fac_raw2_df.loc[AWS_fac_raw2_df['CNTY_ID'] == 63.0, 'COUNTY_SITE'] = 'CAMP'
AWS_fac_raw2_df.loc[AWS_fac_raw2_df['CNTY_ID'] == 223.0, 'COUNTY_SITE'] = 'HOPKINS'
AWS_fac_raw2_df.loc[AWS_fac_raw2_df['CNTY_ID'] == 121.0, 'COUNTY_SITE'] = 'DENTON'
AWS_fac_raw2_df.loc[AWS_fac_raw2_df['CNTY_ID'] == 457.0, 'COUNTY_SITE'] = 'TYLER'
AWS_fac_raw2_df.loc[AWS_fac_raw2_df['CNTY_ID'] == 189.0, 'COUNTY_SITE'] = 'HALE'
AWS_fac_raw2_df.loc[AWS_fac_raw2_df['CNTY_ID'] == 167.0, 'COUNTY_SITE'] = 'GALVESTON'
AWS_fac_raw2_df.loc[AWS_fac_raw2_df['CNTY_ID'] == 395.0, 'COUNTY_SITE'] = 'ROBERTSON'
AWS_fac_raw2_df.loc[AWS_fac_raw2_df['CNTY_ID'] == 357.0, 'COUNTY_SITE'] = 'OCHILTREE'
AWS_fac_raw2_df.loc[AWS_fac_raw2_df['CNTY_ID'] == 353.0, 'COUNTY_SITE'] = 'NOLAN'
AWS_fac_raw2_df.loc[AWS_fac_raw2_df['CNTY_ID'] == 391.0, 'COUNTY_SITE'] = 'REFUGIO'
AWS_fac_raw2_df.loc[AWS_fac_raw2_df['CNTY_ID'] == 219.0, 'COUNTY_SITE'] = 'HOCKLEY'
AWS_fac_raw2_df.loc[AWS_fac_raw2_df['CNTY_ID'] == 229.0, 'COUNTY_SITE'] = 'HUDSPETH'
AWS_fac_raw2_df.loc[AWS_fac_raw2_df['CNTY_ID'] == 343.0, 'COUNTY_SITE'] = 'MORRIS'
AWS_fac_raw2_df.loc[AWS_fac_raw2_df['CNTY_ID'] == 13.0, 'COUNTY_SITE'] = 'ATASCOSA'


AWS_fac_raw2_df

C:\Users\troyy\anaconda3\lib\site-packages\pandas\core\indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

,SWR,YEAR,NOR,FORM,CLASS,UNIT,HANDLED,MGMT_CODE,FAC_NUM,EPA_ID_DISP,HW_1,HW_2,HW_3,HW_4,COMPANY,LQG,ACUTE,SUBMITED,NAME,EPA_ID_SITE,TCEQ_PERMIT,SITE_CLASS,CNTY_ID,TCEQ_REG,COUNTY_SITE,LAT,LONG,NAICS
11094,30042,2014,6,489,1,P,16800,141,21,NaN,NaN,NaN,NaN,NaN,INEOS USA CHOCOLATE BAYOU FACILITY,1,0,20150129.0,INEOS USA CHOCOLATE BAYOU FACILITY,TXD050309012,50121.0,NaN,39.0,12.0,BRAZORIA,0,0.000,25199.0
11095,30042,2014,6,489,1,P,3120,141,45,NaN,NaN,NaN,NaN,NaN,INEOS USA CHOCOLATE BAYOU FACILITY,1,0,20150129.0,INEOS USA CHOCOLATE BAYOU FACILITY,TXD050309012,50121.0,NaN,39.0,12.0,BRAZORIA,0,0.000,25199.0
11096,30042,2014,6,489,1,P,211200,132,H1721,NaN,NaN,NaN,NaN,NaN,INEOS USA CHOCOLATE BAYOU FACILITY,1,0,20150129.0,INEOS USA CHOCOLATE BAYOU FACILITY,TXD050309012,50121.0,NaN,39.0,12.0,BRAZORIA,0,0.000,25199.0
11097,30042,2014,13,489,H,P,400,141,21,NaN,D001,D018,NaN,NaN,INEOS USA CHOCOLATE BAYOU FACILITY,1,0,20150129.0,INEOS USA CHOCOLATE BAYOU FACILITY,TXD050309012,50121.0,NaN,39.0,12.0,BRAZORIA,0,0.000,25199.0
11098,30042,2014,13,489,H,P,26160,39,34814,TXD981053770,D001,D018,NaN,NaN,INEOS USA CHOCOLATE BAYOU FACILITY,1,0,20150129.0,INEOS USA CHOCOLATE BAYOU FACILITY,TXD050309012,50121.0,NaN,39.0,12.0,BRAZORIA,0,0.000,25199.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
203365,96985,2020,7,110,H,P,3,132,50052,TXD069452340,NaN,NaN,NaN,NaN,LOWES OF WHITE SETTLEMENT 1619,1,0,20210222.0,LOWES OF WHITE SETTLEMENT 1619,TXR000084424,NaN,NaN,439.0,4.0,TARRANT,0,0.000,44110.0
203366,96985,2020,8,319,H,P,35,132,50052,TXD069452340,NaN,NaN,NaN,NaN,LOWES OF WHITE SETTLEMENT 1619,1,0,20210222.0,LOWES OF WHITE SETTLEMENT 1619,TXR000084424,NaN,NaN,439.0,4.0,TARRANT,0,0.000,44110.0
203367,96985,2020,13,119,H,P,15,141,50052,TXD069452340,NaN,NaN,NaN,NaN,LOWES OF WHITE SETTLEMENT 1619,1,0,20210222.0,LOWES OF WHITE SETTLEMENT 1619,TXR000084424,NaN,NaN,439.0,4.0,TARRANT,0,0.000,44110.0
203564,97606,2020,1,404,H,P,182140,39,50052,TXD069452340,NaN,NaN,NaN,NaN,FORT BEND POWER PRODUCERS,1,0,20210322.0,FORT BEND POWER PRODUCERS,TXR000085205,NaN,NaN,157.0,12.0,FORT BEND,0,0.000,86210.0
203931,97844,2020,1,205,H,P,24000,141,1,NaN,D018,NaN,NaN,NaN,STRATTON RIDGE UNDERGROUND NATURAL GAS STORAGE...,1,0,20210331.0,STRATTON RIDGE UNDERGROUND NATURAL GAS STORAGE...,TXR000085469,NaN,NaN,39.0,12.0,BRAZORIA,-29.035,-95.334,86210.0

In [37]:
# raw3 is only a temp file used to identify NA county info

AWS_fac_raw3_df = AWS_fac_raw2_df[AWS_fac_raw2_df['COUNTY_SITE'].isna()]
AWS_fac_raw3_df

,SWR,YEAR,NOR,FORM,CLASS,UNIT,HANDLED,MGMT_CODE,FAC_NUM,EPA_ID_DISP,HW_1,HW_2,HW_3,HW_4,COMPANY,LQG,ACUTE,SUBMITED,NAME,EPA_ID_SITE,TCEQ_PERMIT,SITE_CLASS,CNTY_ID,TCEQ_REG,COUNTY_SITE,LAT,LONG,NAICS
179593,39402,2015,FYB6,1,H,P,212,40,50089,TXD055141378,NaN,NaN,NaN,NaN,NaN,1,<NA>,201603280.0,CONN AGRICULTURAL CHEMICALS GROUP,TXD064248610,NaN,NaN,NaN,NaN,NaN,0,0.0,NaN
179594,39402,2015,FYB6,1,H,P,33,40,D0005,ARD069748192,NaN,NaN,NaN,MARTIN DOURO FACILITY,KYLE JAMES,1,<NA>,201603280.0,CONN AGRICULTURAL CHEMICALS GROUP,TXD064248610,NaN,NaN,NaN,NaN,NaN,0,0.0,NaN
179595,39402,2015,FYB6,1,H,P,6,141,D0005,ARD069748192,NaN,NaN,NaN,NaN,NaN,1,<NA>,201603280.0,CONN AGRICULTURAL CHEMICALS GROUP,TXD064248610,NaN,NaN,NaN,NaN,NaN,0,0.0,NaN
179596,39402,2015,FYB7,4,H,P,30,40,50089,TXD055141378,NaN,NaN,NaN,MARTIN DOURO FACILITY,KYLE JAMES,1,<NA>,201603280.0,CONN AGRICULTURAL CHEMICALS GROUP,TXD064248610,NaN,NaN,NaN,NaN,NaN,0,0.0,NaN
179597,39402,2015,FYB8,1,1,P,250,40,50089,TXD055141378,NaN,NaN,NaN,MARTIN DOURO FACILITY,KYLE JAMES,1,<NA>,201603280.0,CONN AGRICULTURAL CHEMICALS GROUP,TXD064248610,NaN,NaN,NaN,NaN,NaN,0,0.0,NaN

In [38]:
# SWR is a text (object) so need to put in parens - this corrects misisng County site and County ID missing info

AWS_fac_raw2_df.loc[AWS_fac_raw2_df['SWR'] == '39402', 'COUNTY_SITE'] = 'ECTOR'
AWS_fac_raw2_df.loc[AWS_fac_raw2_df['SWR'] == '39402', 'CNTY_ID'] = '135'

C:\Users\troyy\anaconda3\lib\site-packages\pandas\core\indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [39]:
# raw3 is only a temp file used to identify NA county info

AWS_fac_raw3_df = AWS_fac_raw2_df[AWS_fac_raw2_df['COUNTY_SITE'].isna()]
AWS_fac_raw3_df

Empty DataFrame
Columns: [SWR, YEAR, NOR, FORM, CLASS, UNIT, HANDLED, MGMT_CODE, FAC_NUM, EPA_ID_DISP, HW_1, HW_2, HW_3, HW_4, COMPANY, LQG, ACUTE, SUBMITED, NAME, EPA_ID_SITE, TCEQ_PERMIT, SITE_CLASS, CNTY_ID, TCEQ_REG, COUNTY_SITE, LAT, LONG, NAICS]
Index: []

In [40]:
AWS_fac_raw2_df.isnull().sum()

SWR               0
YEAR              0
NOR               0
FORM              0
CLASS             0
UNIT              0
HANDLED           0
MGMT_CODE         0
FAC_NUM           0
EPA_ID_DISP    1428
HW_1           2165
HW_2           3099
HW_3           3384
HW_4           3005
COMPANY           5
LQG               0
ACUTE           530
SUBMITED          0
NAME              0
EPA_ID_SITE      24
TCEQ_PERMIT    1982
SITE_CLASS     3731
CNTY_ID           0
TCEQ_REG          5
COUNTY_SITE       0
LAT               0
LONG              0
NAICS             8
dtype: int64

## end of cleanup identification steps

In [41]:
# back to full df and using steps id'd above address NaN

AWS_fac_main_df.loc[AWS_fac_main_df['CNTY_ID'] == 39.0, 'COUNTY_SITE'] = 'BRAZORIA'
AWS_fac_main_df.loc[AWS_fac_main_df['CNTY_ID'] == 179.0, 'COUNTY_SITE'] = 'GRAY'
AWS_fac_main_df.loc[AWS_fac_main_df['CNTY_ID'] == 403.0, 'COUNTY_SITE'] = 'SABINE'
AWS_fac_main_df.loc[AWS_fac_main_df['CNTY_ID'] == 233.0, 'COUNTY_SITE'] = 'HUTCHINSON'
AWS_fac_main_df.loc[AWS_fac_main_df['CNTY_ID'] == 201.0, 'COUNTY_SITE'] = 'HARRIS'
AWS_fac_main_df.loc[AWS_fac_main_df['CNTY_ID'] == 321.0, 'COUNTY_SITE'] = 'MATAGORDA'
AWS_fac_main_df.loc[AWS_fac_main_df['CNTY_ID'] == 37.0, 'COUNTY_SITE'] = 'BOWIE'
AWS_fac_main_df.loc[AWS_fac_main_df['CNTY_ID'] == 375.0, 'COUNTY_SITE'] = 'POTTER'
AWS_fac_main_df.loc[AWS_fac_main_df['CNTY_ID'] == 341.0, 'COUNTY_SITE'] = 'MOORE'
AWS_fac_main_df.loc[AWS_fac_main_df['CNTY_ID'] == 481.0, 'COUNTY_SITE'] = 'WHARTON'
AWS_fac_main_df.loc[AWS_fac_main_df['CNTY_ID'] == 213.0, 'COUNTY_SITE'] = 'HENDERSON'
AWS_fac_main_df.loc[AWS_fac_main_df['CNTY_ID'] == 289.0, 'COUNTY_SITE'] = 'LEON'
AWS_fac_main_df.loc[AWS_fac_main_df['CNTY_ID'] == 73.0, 'COUNTY_SITE'] = 'CHEROKEE'
AWS_fac_main_df.loc[AWS_fac_main_df['CNTY_ID'] == 315.0, 'COUNTY_SITE'] = 'MARION'
AWS_fac_main_df.loc[AWS_fac_main_df['CNTY_ID'] == 203.0, 'COUNTY_SITE'] = 'HARRISON'
AWS_fac_main_df.loc[AWS_fac_main_df['CNTY_ID'] == 401.0, 'COUNTY_SITE'] = 'RUSK'
AWS_fac_main_df.loc[AWS_fac_main_df['CNTY_ID'] == 449.0, 'COUNTY_SITE'] = 'TITUS'
AWS_fac_main_df.loc[AWS_fac_main_df['CNTY_ID'] == 225.0, 'COUNTY_SITE'] = 'HOUSTON'
AWS_fac_main_df.loc[AWS_fac_main_df['CNTY_ID'] == 245.0, 'COUNTY_SITE'] = 'JEFFERSON'
AWS_fac_main_df.loc[AWS_fac_main_df['CNTY_ID'] == 21.0, 'COUNTY_SITE'] = 'BASTROP'
AWS_fac_main_df.loc[AWS_fac_main_df['CNTY_ID'] == 29.0, 'COUNTY_SITE'] = 'BEXAR'
AWS_fac_main_df.loc[AWS_fac_main_df['CNTY_ID'] == 67.0, 'COUNTY_SITE'] = 'CASS'
AWS_fac_main_df.loc[AWS_fac_main_df['CNTY_ID'] == 57.0, 'COUNTY_SITE'] = 'CALHOUN'
AWS_fac_main_df.loc[AWS_fac_main_df['CNTY_ID'] == 53.0, 'COUNTY_SITE'] = 'BURNET'
AWS_fac_main_df.loc[AWS_fac_main_df['CNTY_ID'] == 183.0, 'COUNTY_SITE'] = 'GREGG'
AWS_fac_main_df.loc[AWS_fac_main_df['CNTY_ID'] == 439.0, 'COUNTY_SITE'] = 'TARRANT'
AWS_fac_main_df.loc[AWS_fac_main_df['CNTY_ID'] == 227.0, 'COUNTY_SITE'] = 'HOWARD'
AWS_fac_main_df.loc[AWS_fac_main_df['CNTY_ID'] == 157.0, 'COUNTY_SITE'] = 'FORT BEND'

AWS_fac_main_df.loc[AWS_fac_main_df['CNTY_ID'] == 161.0, 'COUNTY_SITE'] = 'FREESTONE'
AWS_fac_main_df.loc[AWS_fac_main_df['CNTY_ID'] == 185.0, 'COUNTY_SITE'] = 'GRIMES'
AWS_fac_main_df.loc[AWS_fac_main_df['CNTY_ID'] == 335.0, 'COUNTY_SITE'] = 'MITCHELL'
AWS_fac_main_df.loc[AWS_fac_main_df['CNTY_ID'] == 63.0, 'COUNTY_SITE'] = 'CAMP'
AWS_fac_main_df.loc[AWS_fac_main_df['CNTY_ID'] == 223.0, 'COUNTY_SITE'] = 'HOPKINS'
AWS_fac_main_df.loc[AWS_fac_main_df['CNTY_ID'] == 121.0, 'COUNTY_SITE'] = 'DENTON'
AWS_fac_main_df.loc[AWS_fac_main_df['CNTY_ID'] == 457.0, 'COUNTY_SITE'] = 'TYLER'
AWS_fac_main_df.loc[AWS_fac_main_df['CNTY_ID'] == 189.0, 'COUNTY_SITE'] = 'HALE'
AWS_fac_main_df.loc[AWS_fac_main_df['CNTY_ID'] == 167.0, 'COUNTY_SITE'] = 'GALVESTON'
AWS_fac_main_df.loc[AWS_fac_main_df['CNTY_ID'] == 395.0, 'COUNTY_SITE'] = 'ROBERTSON'
AWS_fac_main_df.loc[AWS_fac_main_df['CNTY_ID'] == 357.0, 'COUNTY_SITE'] = 'OCHILTREE'
AWS_fac_main_df.loc[AWS_fac_main_df['CNTY_ID'] == 353.0, 'COUNTY_SITE'] = 'NOLAN'
AWS_fac_main_df.loc[AWS_fac_main_df['CNTY_ID'] == 391.0, 'COUNTY_SITE'] = 'REFUGIO'
AWS_fac_main_df.loc[AWS_fac_main_df['CNTY_ID'] == 219.0, 'COUNTY_SITE'] = 'HOCKLEY'
AWS_fac_main_df.loc[AWS_fac_main_df['CNTY_ID'] == 229.0, 'COUNTY_SITE'] = 'HUDSPETH'
AWS_fac_main_df.loc[AWS_fac_main_df['CNTY_ID'] == 343.0, 'COUNTY_SITE'] = 'MORRIS'
AWS_fac_main_df.loc[AWS_fac_main_df['CNTY_ID'] == 13.0, 'COUNTY_SITE'] = 'ATASCOSA'

AWS_fac_main_df.loc[AWS_fac_main_df['SWR'] == '39402', 'COUNTY_SITE'] = 'ECTOR'
AWS_fac_main_df.loc[AWS_fac_main_df['SWR'] == '39402', 'CNTY_ID'] = '135'

In [42]:
temp = AWS_fac_main_df[AWS_fac_main_df['COUNTY_SITE'].isna()]
temp

Empty DataFrame
Columns: [SWR, YEAR, NOR, FORM, CLASS, UNIT, HANDLED, MGMT_CODE, FAC_NUM, EPA_ID_DISP, HW_1, HW_2, HW_3, HW_4, COMPANY, LQG, ACUTE, SUBMITED, NAME, EPA_ID_SITE, TCEQ_PERMIT, SITE_CLASS, CNTY_ID, TCEQ_REG, COUNTY_SITE, LAT, LONG, NAICS]
Index: []

In [43]:
temp = AWS_fac_main_df[AWS_fac_main_df['CNTY_ID'] == 13.0] 
temp

,SWR,YEAR,NOR,FORM,CLASS,UNIT,HANDLED,MGMT_CODE,FAC_NUM,EPA_ID_DISP,HW_1,HW_2,HW_3,HW_4,COMPANY,LQG,ACUTE,SUBMITED,NAME,EPA_ID_SITE,TCEQ_PERMIT,SITE_CLASS,CNTY_ID,TCEQ_REG,COUNTY_SITE,LAT,LONG,NAICS
53076,31434,2014,5,403,1,P,40,132,50052,TXD069452340,NaN,NaN,NaN,NaN,SAN MIGUEL ELECTRIC COOPERATIVE,0,0,20150206.0,SAN MIGUEL ELECTRIC COOPERATIVE,TXD088484852,NaN,NaN,13,13.0,ATASCOSA,0,0.0,21122.0
53077,31434,2014,34,606,1,P,600,132,50052,TXD069452340,NaN,NaN,NaN,NaN,SAN MIGUEL ELECTRIC COOPERATIVE,0,0,20150206.0,SAN MIGUEL ELECTRIC COOPERATIVE,TXD088484852,NaN,NaN,13,13.0,ATASCOSA,0,0.0,21122.0
53078,31434,2015,5,403,1,P,300,132,50052,TXD069452340,NaN,NaN,NaN,SAN MIGUEL ELECTRIC COOPERATIVE,Lane A Williams,0,<NA>,201601270.0,SAN MIGUEL ELECTRIC COOPERATIVE,TXD088484852,NaN,NaN,13,13.0,ATASCOSA,0,0.0,21122.0
53079,31434,2015,10,489,1,P,1200,50,8,NaN,NaN,NaN,NaN,SAN MIGUEL ELECTRIC COOPERATIVE,Lane A Williams,0,<NA>,201601270.0,SAN MIGUEL ELECTRIC COOPERATIVE,TXD088484852,NaN,NaN,13,13.0,ATASCOSA,0,0.0,21122.0
53080,31434,2015,11,489,1,P,1600,50,8,NaN,NaN,NaN,NaN,SAN MIGUEL ELECTRIC COOPERATIVE,Lane A Williams,0,<NA>,201601270.0,SAN MIGUEL ELECTRIC COOPERATIVE,TXD088484852,NaN,NaN,13,13.0,ATASCOSA,0,0.0,21122.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
201536,39695,2019,21,489,1,P,1980,141,69048,TXD000729400,NaN,NaN,NaN,NaN,SAN MIGUEL LIGNITE MINE,0,0,20200301.0,SAN MIGUEL LIGNITE MINE,NaN,NaN,NaN,13,13.0,ATASCOSA,0,0.0,13113.0
201537,39695,2019,22,319,1,T,658.38,141,10970,NaN,NaN,NaN,NaN,NaN,SAN MIGUEL LIGNITE MINE,0,0,20200301.0,SAN MIGUEL LIGNITE MINE,NaN,NaN,NaN,13,13.0,ATASCOSA,0,0.0,13113.0
201538,39695,2019,29,489,1,T,23.8,141,69048,TXD000729400,NaN,NaN,NaN,NaN,SAN MIGUEL LIGNITE MINE,0,0,20200301.0,SAN MIGUEL LIGNITE MINE,NaN,NaN,NaN,13,13.0,ATASCOSA,0,0.0,13113.0
203773,97712,2020,1,519,1,P,3600,141,30271,TXD074196338,NaN,NaN,NaN,NaN,AEGIS CHEMICAL SOLUTIONS JOURDANTON,1,0,20210107.0,AEGIS CHEMICAL SOLUTIONS JOURDANTON,TXR000085327,NaN,NaN,13,13.0,ATASCOSA,0,0.0,13112.0
203774,97712,2020,2,219,H,P,8500,141,30271,TXD074196338,NaN,NaN,NaN,NaN,AEGIS CHEMICAL SOLUTIONS JOURDANTON,1,0,20210107.0,AEGIS CHEMICAL SOLUTIONS JOURDANTON,TXR000085327,NaN,NaN,13,13.0,ATASCOSA,0,0.0,13112.0

In [44]:
AWS_fac_main_df

,SWR,YEAR,NOR,FORM,CLASS,UNIT,HANDLED,MGMT_CODE,FAC_NUM,EPA_ID_DISP,HW_1,HW_2,HW_3,HW_4,COMPANY,LQG,ACUTE,SUBMITED,NAME,EPA_ID_SITE,TCEQ_PERMIT,SITE_CLASS,CNTY_ID,TCEQ_REG,COUNTY_SITE,LAT,LONG,NAICS
0,20017,2014,2,319,H,P,700,40,50089,TXD055141378,D001,D002,NaN,NaN,NOVA MOLECULAR TECHNOLOGIES,1,0,20150223.0,MONUMENT CHEMICAL BAYPORT,TXD988021259,NaN,NaN,201,12.0,HARRIS,0,0.0,25199.0
1,20017,2014,11,9,1,P,2000,40,50089,TXD055141378,NaN,NaN,NaN,NaN,NOVA MOLECULAR TECHNOLOGIES,1,0,20150223.0,MONUMENT CHEMICAL BAYPORT,TXD988021259,NaN,NaN,201,12.0,HARRIS,0,0.0,25199.0
2,20017,2014,11,9,1,P,1850,61,65124,TXD077603371,NaN,NaN,NaN,NaN,NOVA MOLECULAR TECHNOLOGIES,1,0,20150223.0,MONUMENT CHEMICAL BAYPORT,TXD988021259,NaN,NaN,201,12.0,HARRIS,0,0.0,25199.0
3,20017,2014,8208,219,H,P,12035,40,50089,TXD055141378,D001,D018,F003,NaN,NOVA MOLECULAR TECHNOLOGIES,1,0,20150223.0,MONUMENT CHEMICAL BAYPORT,TXD988021259,NaN,NaN,201,12.0,HARRIS,0,0.0,25199.0
4,20017,2014,8218,403,1,P,5486,61,30271,TXD074196338,NaN,NaN,NaN,NaN,NOVA MOLECULAR TECHNOLOGIES,1,0,20150223.0,MONUMENT CHEMICAL BAYPORT,TXD988021259,NaN,NaN,201,12.0,HARRIS,0,0.0,25199.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
203989,97889,2020,29,211,H,P,360,61,30271,TXD074196338,D001,D018,NaN,NaN,AMAZONCOM SERVICES UTX3,0,0,20210329.0,AMAZONCOM SERVICES UTX3,TXR000085510,NaN,NaN,201,12.0,HARRIS,0,0.0,93110.0
203990,97889,2020,1100,110,H,P,205,141,50225,TXD982290140,D002,NaN,NaN,NaN,AMAZONCOM SERVICES UTX3,0,0,20210329.0,AMAZONCOM SERVICES UTX3,TXR000085510,NaN,NaN,201,12.0,HARRIS,0,0.0,93110.0
203991,97889,2020,2120,212,H,P,36,141,50225,TXD982290140,D001,NaN,NaN,NaN,AMAZONCOM SERVICES UTX3,0,0,20210329.0,AMAZONCOM SERVICES UTX3,TXR000085510,NaN,NaN,201,12.0,HARRIS,0,0.0,93110.0
203992,97889,2020,2190,219,H,P,121,141,50225,TXD982290140,D001,D006,D018,D027,AMAZONCOM SERVICES UTX3,0,0,20210329.0,AMAZONCOM SERVICES UTX3,TXR000085510,NaN,NaN,201,12.0,HARRIS,0,0.0,93110.0
203993,97889,2020,4070,407,H,P,11,141,50225,TXD982290140,D001,NaN,NaN,NaN,AMAZONCOM SERVICES UTX3,0,0,20210329.0,AMAZONCOM SERVICES UTX3,TXR000085510,NaN,NaN,201,12.0,HARRIS,0,0.0,93110.0

In [45]:
AWS_fac_main_df.to_csv ('AWS_14_20.csv', index = False, header=True)